%lb-bold {
  font-family: "LibreBaskerville-Bold", sans-serif;
  font-weight: 700;
}

%lb-regular {
  font-family: "LibreBaskerville-Regular", sans-serif;
  font-weight: 400;
}

%os-bold {
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: 700;
}

%os-regular {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
}
